{# Use this to embed in your own layout: {{ include('@SpiriitCommitHistory/_commits.html.twig', { commits: commits }) }} #}
{# Note: Include the CSS and JavaScript from timeline.html.twig for accordion functionality #}

{% if commits is empty %}
    <div class="timeline--empty">
        <p>No commits found.</p>
    </div>
{% else %}
    {# Group commits by date #}
    {% set grouped_commits = {} %}
    {% for commit in commits %}
        {% set date_key = commit.date|date('Y-m-d') %}
        {% if grouped_commits[date_key] is not defined %}
            {% set grouped_commits = grouped_commits|merge({(date_key): []}) %}
        {% endif %}
        {% set grouped_commits = grouped_commits|merge({
            (date_key): grouped_commits[date_key]|merge([commit])
        }) %}
    {% endfor %}

    <div class="timeline">
        {% for date_key, day_commits in grouped_commits %}
            <div class="timeline__date-group">
                <div class="timeline__date-header">
                    {{ day_commits[0].date|date('F d, Y') }}
                </div>
                <div class="timeline__commits">
                    {% for commit in day_commits %}
                        {% if commit.hasDependenciesChanges %}
                            <details class="timeline__item timeline__details" data-commit-id="{{ commit.id }}">
                                <summary>
                                    <div class="timeline__header">
                                        <div class="timeline__title">{{ commit.title }}</div>
                                        <span class="timeline__deps-badge">DEPENDENCIES</span>
                                    </div>
                                </summary>
                                <div class="timeline__accordion-content">
                                    <div class="timeline__loading">Loading changes...</div>
                                </div>
                            </details>
                        {% else %}
                            <div class="timeline__item">
                                <div class="timeline__title">{{ commit.title }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
