{#
    Use this to embed in your own layout:
    {{ include('@SpiriitCommitHistory/_commits.html.twig', { commits: commits }) }}

    Note: When using the dependencies accordion feature, make sure to include the CSS styles
    and JavaScript from timeline.html.twig in your layout.
#}

{% if commits is empty %}
    <div class="timeline--empty">
        <p>No commits found.</p>
    </div>
{% else %}
    {# Group commits by date #}
    {% set grouped_commits = {} %}
    {% for commit in commits %}
        {% set date_key = commit.date|date('Y-m-d') %}
        {% if grouped_commits[date_key] is not defined %}
            {% set grouped_commits = grouped_commits|merge({(date_key): []}) %}
        {% endif %}
        {% set grouped_commits = grouped_commits|merge({
            (date_key): grouped_commits[date_key]|merge([commit])
        }) %}
    {% endfor %}

    <div class="timeline">
        {% for date_key, day_commits in grouped_commits %}
            <div class="timeline__date-group">
                <div class="timeline__date-header">
                    {{ day_commits[0].date|date('F d, Y') }}
                </div>
                <div class="timeline__commits">
                    {% for commit in day_commits %}
                        {% if commit.hasDependenciesChanges %}
                            <details class="timeline__item timeline__item--has-deps" data-commit-id="{{ commit.id }}">
                                <summary class="timeline__summary">
                                    <span class="timeline__title">{{ commit.title }}</span>
                                    <span class="timeline__badge">Dependencies</span>
                                </summary>
                                <div class="timeline__dependencies">
                                    <p class="timeline__dependencies-empty">Loading...</p>
                                </div>
                            </details>
                        {% else %}
                            <div class="timeline__item">
                                <div class="timeline__title">{{ commit.title }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
